
body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: Roboto, Arial;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: center;
}

.content-items {
    display: flex;
    justify-content: center;
}

.quote {
    background-color: #E5E7Eb;
    padding: 40px 250px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    font-weight: lighter;
}

.quote h3 {
    text-align: right;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    padding: 10px 80px;
    margin: 50px 200px;
    border-radius: 10px;
}

.signup-item {
    flex: 1;
}

.signup-text {
    text-align: left;
}

.signup-button button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 7px;
    padding: 5px 30px;
}


.footer {
    background-color: #1f2937;
    color: white;
}


img {
    height: 150px;
    width: 150px;
}